/* falta dar uma arrumada no youtube
media query direito
estilizar melhor */
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  }
  body{
    margin: 0 5px;
  }
  h4{
    margin: 0px;
    padding: 0px;
  }
  /* body ul li p{
      margin: 0px;
      padding: 0px;
      list-style: none;
      /* font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif
  } */
  a{
      text-decoration: none;
      color: white;
  }
  #header{
      margin-top: 6vh;
      height: 5vh;
      border-style: solid #1d1e20;
      background:rgb(255, 94, 54); 
      display:flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 100px;
  }
  #header-img{
      padding-top: 10px;
      display:flex;
      width:15%;
      height: auto;
      margin: 10px;
  }
  #nav-bar{
      display:flex;
      list-style: none;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 3px;
  }
  .nav-link:hover{
    color: #1d1e20;
}
 .nav-link{
    font-size: 0.7rem;
    padding: 10px;
    scroll-behavior: smooth;
    color:white;   
    }
  #enter_email{
    height: 60vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    margin-top: 15vh;
    text-align: center;
    background: coral;
    border-radius: 10px;
    
}
  
#form{
  margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 9vh 10vw;;
}
#email{
  height: 10vh;
  font-size: 0.75em;
}
#submit{
  margin-top: 30px;
  padding: 20px 0px;
  font-size: 0.75em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 10px;

}
#submit:hover{
  background: rgb(255, 157, 112);
}

  #section2{
      display: flex;
      justify-content: center;
      margin-top: 2vh;
      background: #D05C46;
      border-radius: 10px;
      padding: 4vh;
  }

  #section3{
    display: flex;
    margin-top: 2vh;
    border-radius: 10px;
    background:#D05F63; 
    justify-content: space-around;
  
      }
      #table-div{
        background: #FDA7A3;
        margin: 2vh 3vw;
        padding: 4vh 2vw;

      }
      #table-div th{
          font-size: 0.5em;
          padding: 10vh 5vw;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .table{
        border-spacing: 10 0px;
        /* border-collapse: collapse; */
      }
      .table button{
        font-size: 0.75em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  height: 5vh;
  width: 10vw;
  border-radius: 5px;


}
.table button:hover{
  background: #d69390;
}
      
#th-title{
    font-family: Arial, Helvetica, serif;
}
.table tr{
  background: #ffc3c0;;
  /* padding: 2vh 1vw; */
}
  .footer{
      margin-top: 2vh;
      padding: 10px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      background: #F05C68;
      text-align: right;
      border-radius:5px 5px 0 0;
  }
  iframe{
    width: 300px;
  }
  @media screen and (min-width: 600px) {
    
      #header-img{
        margin-top: 13px;
        margin-left: 0px;
        transform: scale(0.5);
      }
      #table-div th{
        font-size: 1em;
        padding: 10vh 5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
      }
        iframe{
        width: 50vw;
      } 
    }
    
  
